
$border-color-hover: #1890ff;
$border-color-hover: #1890ff;  //#096dd9
$border-color: #999;
$border-radius: 4px;
$box-shadow-color: #1890ff;
$button-active-bg:  #096dd9;//#40a9ff
$button-bg: #40a9ff;
$button-height: 32px;
$color: white;
$disabled-bg:white;
$disabled-color:rgb(153,153,153);
$font-size: 14px;
$height: 32px;
$red: #F1453D;


$border-color-light: lighten($border-color, 30%);
.box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}