
$border-color-hover: #1890ff;
$border-color: #999;

$border-radius: 4px;
$box-shadow-color: #1890ff;
$button-active-bg:  #096dd9;//#40a9ff
$button-bg: #40a9ff;
$button-height: 32px;
$color: white;
$light-color:#666;
$disabled-bg:white;
$disabled-color:rgb(153,153,153);
$font-size: 14px;
$height: 32px;
$red: #F1453D;
$blue:#4a90e2;
$light-grey:#eee;
$black:black;


$border-color-light: lighten(#999, 30%);
.box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@mixin spin {
  animation: spin 2s infinite linear;
}
$input-height: 32px;
$grey: #eee;